.nav-item{
    text-align: right;
}

.text-header {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

.text-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.font-additional {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.header-jumbotron {
    position: relative;
    top:20%;
    width: 90%;
    max-width: 650px;
    opacity: 0.7;
}

@media only screen and (max-height:600px) {
    .header-jumbotron p, h1 {
        font-size: 6vw;
    }
}

.jumbotron-caparol {

}

.jumbotron-caparol p {
    width: 100%;
}

.jumbotron-roof {
    min-width: 320px;
}


.my-nav{
    /*position: absolute;*/
    z-index: 10;
    width: 100%;
}

.header-link{
    font-size: 2vw;
}

/*.main-header-link-bkg {*/
/*    background-color: rgba(218, 229, 226, 0.69);*/
/*}*/

@media only screen and (max-width: 990px){
    .header-link {
        font-size: 32px;
    }
}

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10%;
}

.header-text {
    width:30%
}

.logo-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-item a {
    margin-left: 20px;
}

body{
    background-color: #e39331;
}

.first-desktop-section{
    padding-top: 32px;
}

.first-desktop-section p, li {
    color: white;
}

@media only screen and (min-width: 1000px) {
    .first-desktop-section-description p{
        font-size: 2vw;
    }
    .first-desktop-section-button-text {
        font-size: 2vw;
    }
}

.first-desktop-section-description {
    padding: 35px ;
}

.second-desktop-section-header {
}

.second-desktop-section-header p{
    color:white;
}

.second-desktop-section-contacts {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 390px){
    .second-desktop-section-header p{
        font-size: 30px;
    }
}

.map {
    width: 100%;
    margin-bottom: 32px;
}

.in-about {
    background-color: black;
}