<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link href="https://fonts.googleapis.com/css?family=Manrope:700|Roboto:100,400&display=swap" rel="stylesheet">
	<title>О нас</title>
</head>

<header>
	<nav class="my-nav navbar navbar-light navbar-expand-lg">
		<div class="logo-image">
			<a class="navbar-brand" rel="home" href="../index.html"><div>
				<p>Общество с ограниченной ответственностью </p>
				<p>Полимерзащита-ВН</p>
				<p>173008, г. Новгород, ул. Рабочая, д.51, тел (8162)99-88-35, +7960-205-10-85</p>
			</div> </a>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="../index.html"><span class="header-link text-description">Главная</span> <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./services.html"><span class="header-link text-description">Услуги</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./goods.html"><span class="header-link text-description">Товары</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./about.html"><span class="header-link text-description">О нас</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="../index.html#contacts"><span class="header-link text-description">Контакты</span></a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<body>
<div class="d-flex flex-column first-desktop-section in-about">
	<div class="first-desktop-section-header d-flex justify-content-center">
		<p class="display-3 text-header">О нас</p>
	</div>
	<div class="first-desktop-section-description">
		<p class="lead text-description" style="text-indent: 30px;">
			Строительная компания ООО «Полимерзащита -ВН» была организована 21.01.2015г. и является правоприемником строительной компании ООО «Полимерзащита», образованной  в 1998 году и работавшей  на рынке строительных услуг.
			На сегодняшний день мы готовы предложить Вам свои услуги по капитальному ремонту кровель гражданских, производственных и специализированных зданий и сооружений, а также все виды строительных работ  по ремонту зданий и помещений, ремонту сетей водопровода и канализации, электромонтажные работы, выполнить отделочные работы любой сложности, включая ремонт и окраску  фасадов многоэтажных домов и производственных зданий.
			Наши специалисты, отслеживая конъюнктуру рынка, потребности и финансовые возможности потенциальных заказчиков готовы предложить Вам весь спектр применяемых технологий и материалов. По желанию заказчика высококвалифицированные специалисты нашей компании разработают проектную документацию по видам работ, перечисленным выше, с использованием современных материалов и технологий производства работ.</p>
	</div>
	<div class="first-desktop-section-description">
		<p class="lead text-header" style="text-indent: 30px; color: #e39331;">
			За время работы  ООО «Полимерзащита» выполнило строительные и ремонтные работы на многих объектах в Великом Новгороде, Санкт-Петербурге и  Новгородской области:
		</p>

		<ul>
			<li class="lead text-description">УФСБ РФ по Новгородской области (административные здания)</li>
			<li class="lead text-description">УВД по Новгородской области (административные здания)</li>
			<li class="lead text-description">ЗАО «Проектстрой» (жилые дома, производственные здания)</li>
			<li class="lead text-description">МУ «Служба заказчика по ЖКХ» В.Новгород,  (жилые дома)</li>
			<li class="lead text-description">МУ «Служба заказчика по ЖКХ» Валдай, (жилые дома)</li>
			<li class="lead text-description">МУ «УКС» В.Новгород, (детские сады, школы)</li>
			<li class="lead text-description">ЗАО «Подберезский комбинат хлебопродуктов» (производственные здания)</li>
			<li class="lead text-description">ООО «Галичи» (производственные здания)</li>
			<li class="lead text-description">ООО «СУ-78» (производственные здания)</li>
			<li class="lead text-description">ООО «НПФК Ресурс» г. Санкт-Петербург (производственные здания)</li>
			<li class="lead text-description">ГУЗ ДИБ № 5 им. Н.Ф. Филатова г. Санкт-Петербург (больничный корпус)</li>
			<li class="lead text-description">ООО «Модульные Строй системы» г. Санкт-Петербург,  (производственные корпуса)</li>
			<li class="lead text-description">МУ «Служба заказчика по строительству и хозобеспечению» Новгородский район (общественные и административные здания)</li>
			<li class="lead text-description">ОАО «Акрон» (производственные, административные здания)</li>
			<li class="lead text-description">МУП «Теплоэнерго» (административные и производственные здания)</li>
			<li class="lead text-description">МУП «Новгородский Водоканал» (административные и производственные здания)</li>
			<li class="lead text-description">ОАО «Дека» (производственные здания)</li>
			<li class="lead text-description">ГППО «Квант» (производственные здания)</li>
			<li class="lead text-description">ЗАО «Деловой партнер» (Онкологический центр, жилые дома)</li>
			<li class="lead text-description">ОАО Гостиница «Садко»</li>
			<li class="lead text-description">ООО «Новтуринвест» (реконструкция гостиницы «Береста», «Полисть»  )</li>
			<li class="lead text-description">МУ «Служба заказчика по Крестцам» (жилые дома)</li>
			<li class="lead text-description">МУП «Водоканал» (административные и производственные здания)</li>
			<li class="lead text-description">ЗАО «Кварц» (производственные здания)</li>
			<li class="lead text-description">ОАО «НЗСВ»</li>
			<li class="lead text-description">ОАО «Боровичский комбинат огнеупоров»  (административные и производственные здания)</li>
			<li class="lead text-description">ГУ ОПФР по Новгородской области</li>
			<li class="lead text-description">ООО «Новгороднефтепродукт»</li>
			<li class="lead text-description">ОАО «УКБ «Новобанк»</li>
			<li class="lead text-description">ЗАО «Новгородский металлургический завод»</li>
			<li class="lead text-description">Комитет образования по г.В.Новгород  (более 50 объектов)</li>
			<li class="lead text-description">И многие другие объекты.</li>
		</ul>
		<p class="lead text-header" style="text-indent: 30px; color: #e39331;">За последние 4 года мы осуществили генподрядные работы по следующим объектам:
		</p>
		<ul>
			<li class="lead text-description">ООО «Амкор Ренч Новгород»</li>
			<li class="lead text-description">ООО «Амкор Флексиблз Новгород»</li>
			<li class="lead text-description">«Новгородский строительный колледж»</li>
			<li class="lead text-description">УФСБ по Новгородской области</li>
			<li class="lead text-description">Управление Федеральной регистрационной службы» г.М.Вишера</li>
			<li class="lead text-description">ГУЗ «Санаторий Велебицы»</li>
			<li class="lead text-description">ООО «Компенз-Эластик»</li>
			<li class="lead text-description">Строительство ж/дома на 36кв. в пос.Тёсово под «ключ»</li>
		</ul>
		<p class="lead text-header" style="text-indent: 30px; color: #e39331;">В рамках работ по федеральному закону ФЗ-183 Компания ООО «Полимерзащита» принимала участие в выполнении работ по капитальному ремонту многоэтажных жилых домов:
		</p>
		<p class="lead text-header" style="text-indent: 30px; color: #e39331;">г. Великий Новгород
		</p>
		<ul>
			<li class="lead text-description">Ж/дом по адресу: ул.Андреевская,10 (Заказчик- МУ «Служба Заказчика по ЖКХ Великого Новгорода)</li>
			<li class="lead text-description">Ж/дом по адресу: пр.Мира,23 (Заказчик- МУ «Служба Заказчика по ЖКХ Великого Новгорода)</li>
			<li class="lead text-description">Ж/дом по адресу: пр.Мира, 3, к.2 (Заказчик- ООО «Комфорт-Сервис»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Свободы,13 (Заказчик- МУ «Служба Заказчика по ЖКХ Великого Новгорода)</li>
			<li class="lead text-description">Ж/дом по адресу: пр.Корсунова,29 (Заказчик- МУ «Служба Заказчика по ЖКХ Великого Новгорода)</li>
			<li class="lead text-description">Ж/дом по адресу: Корсунова,7 (Заказчик- ООО «УК №9)</li>
			<li class="lead text-description">Ж/дом по адресу: Корсунова,21 (Заказчик- ООО «УК «Домком»)</li>
			<li class="lead text-description">Ж/дом по адресу: Корсунова,36 (Заказчик- ООО «УК №8»)</li>
			<li class="lead text-description">Ж/дом по адресу: пр.Корсунова, 9 (Заказчик- ТСЖ «Семья»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Рахманинова,6 (Заказчик- ООО №УК №13»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Космонавтов,20 (Заказчик – ООО «УК №9»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Нехинская,32 (Заказчик- ООО «УК №1»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Нехинская,28 (Заказчик- ООО «УК №1»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Попова,13,к.1 (Заказчик- ООО «УК №1»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Попова,3, к.3 (Заказчик- ООО «Комфорт-Сервис»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Московская,26, к.2 (Заказчик- ООО «Жилфонд»)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Химиков,14 (Заказчик- ТСЖ «Химиков,14, корп.1)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Коровникова, 7, к.2 (Заказчик- ТСЖ «Василёк»)</li>
			<li class="lead text-description">Ж/дом по адресу: Технический пр.,д.9 (Заказчик- УК №9»)</li>
			<li class="lead text-description">Ж/дом по адресу: Б.Московская,63,к.1 (Заказчик- ТСЖ «Борис»)</li>
			<li class="lead text-description">Ж/дом по адресу: Б.Московская,61,к.1 (Заказчик- ТСЖ «Наш дом»)</li>
			<li class="lead text-description">Ж/дом по адресу: Б.Московская,59 (Заказчик- ТСЖ «Б.Московска,59»)</li>
			<li class="lead text-description">Ж/дом по адресу: Б.С.-Петербургская,120,к.2 (Заказчик- ТСЖ «Балтика»)</li>
		</ul>
		<p class="lead text-header" style="text-indent: 30px; color: #e39331;">Чудовский район, Новгородская область
		</p>
		<ul>
			<li class="lead text-description">Ж/дом по адресу: ул.Титова,19, г.Чудово (Заказчик-Администрация Чудовского город. поселения)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Радищева,7 ,г.Чудово (Заказчик-Администрация Чудовского город. поселения)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Парайненская,3а ,г.Чудово (Заказчик-Администрация Чудовского город. поселения)</li>
			<li class="lead text-description">Ж/дом по адресу: ул.Парайненская,6 ,г.Чудово (Заказчик-Администрация Чудовского город. поселения)</li>
			<li class="lead text-description">Ж/дом по адресу: Чудовский район, с.Успенское, ул.Коммунарная,2 (Заказчик-Администрация Успенского сельского поселения)</li>
		</ul>
		<p class="lead text-header" style="text-indent: 30px; color: #e39331;">Батецкий район, Новгородская область
		</p>
		<ul>
			<li class="lead text-description">Ж/дом по адресу: Батецкий район, д.Новое Овсино, ул.Совхозная,6 (Заказчик-Администрация Передольского сельского поселения : Новгородская обл., Батецкий район)</li>
			<li class="lead text-description">Ж/дом по адресу: Батецкий район, д.Новое Овсино, ул.Совхозная, 4 (Заказчик-Администрация Передольского сельского поселения : Новгородская обл., Батецкий район)</li>
		</ul>
		<p class="lead text-header" style="text-indent: 30px;">Строительная компания ООО «Полимерзащита-ВН» также успешно продолжает работать по всем видам работ , указанным выше.
		</p>
		<p class="lead text-header" style="text-indent: 30px;">В настоящее время ООО «Полимерзащита-ВН» выполняет работы по устройству наплавляемых кровель  и отделочные работы по окраске фасадов многоэтажных жилых домов – Заказчик  «ЗАО «Проектстрой».
		</p>
		<p class="lead text-header" style="text-indent: 30px;">Наше предприятие напрямую сотрудничает с предприятиями-изготовителями  материалов, что обеспечивает гарантию качества и снижение себестоимости работ.
		</p>
		<p class="lead text-header" style="text-indent: 30px; color: #e39331;">Каждому заказчику по окончанию выполненных работ предоставляется гарантийное обязательство.</p>
		<p class="lead text-header" style="text-indent: 30px;">Наши специалисты имеют допуск к работе на предприятиях химической и пищевой промышленности, допуск по работе  на  пожаровзрывоопасных объектах (ОАО «Акрон» , ОАО «Подберезский комбинат хлебопродуктов).
		</p>
		<p class="lead text-header" style="text-indent: 30px;">Опыт работы, кадровые возможности, транспорт и техническое оснащение позволяет выполнять работы на удалении от Великого Новгорода, например:  Санкт-Петербург,  Валдай,  Боровичи, Старая Русса и т.д.
		</p>
		<p></p>
		<p class="lead text-header" style="text-indent: 50px;">С уважением!</p>
		<p></p>
		<p class="lead text-header" style="text-indent: 30px;">Директор ООО «Полимерзащита-ВН»__________________/А.И.Ямолдин/
		</p>
	</div>
</div>

<script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
<script src="../js/vendor/popper.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
</body>

</html>
