<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link href="https://fonts.googleapis.com/css?family=Manrope:700|Roboto:100,400&display=swap" rel="stylesheet">
	<title>О нас</title>
</head>

<header>
	<nav class="my-nav navbar navbar-light navbar-expand-lg">
		<div class="logo-image">
			<a class="navbar-brand" rel="home" href="../index.html"><div>
				<p>Общество с ограниченной ответсвенностью </p>
				<p>Полимерзащита-ВН</p>
				<p>173008, г. Новгород, ул. Рабочая, д.51, тел (8162)99-88-35, +7960-205-10-85</p>
			</div> </a>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="../index.html"><span class="header-link text-description">Главная</span> <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><span class="header-link text-description">Услуги</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><span class="header-link text-description">Товары</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><span class="header-link text-description">О нас</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#contacts"><span class="header-link text-description">Контакты</span></a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<body>
<div class="d-flex flex-column first-desktop-section in-about">
	<div class="first-desktop-section-header d-flex justify-content-center">
		<p class="display-3 text-header">О нас</p>
	</div>
	<div class="first-desktop-section-description">
		<p class="lead text-description">
			Строительная компания ООО «Полимерзащита -ВН» была организована 21.01.2015г. и является правоприемником строительной компании ООО «Полимерзащита», образованной  в 1998 году и работавшей  на рынке строительных услуг.
			На сегодняшний день мы готовы предложить Вам свои услуги по капитальному ремонту кровель гражданских, производственных и специализированных зданий и сооружений, а также все виды строительных работ  по ремонту зданий и помещений, ремонту сетей водопровода и канализации, электромонтажные работы, выполнить отделочные работы любой сложности, включая ремонт и окраску  фасадов многоэтажных домов и производственных зданий.
			Наши специалисты, отслеживая конъюнктуру рынка, потребности и финансовые возможности потенциальных заказчиков готовы предложить Вам весь спектр применяемых технологий и материалов. По желанию заказчика высококвалифицированные специалисты нашей компании разработают проектную документацию по видам работ, перечисленным выше, с использованием современных материалов и технологий производства работ</p>
	</div>
</div>

<script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
<script src="../js/vendor/popper.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
</body>

</html>
