<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(74293351, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/74293351" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Manrope:700|Roboto:100,400&display=swap" rel="stylesheet">
    <title>Услуги</title>
</head>

<header>
    <nav class="my-nav navbar navbar-light navbar-expand-lg">
        <div class="logo-image">
            <a class="navbar-brand" rel="home" href="../index.html">
                <div>
                    <p>Общество с ограниченной ответственностью </p>
                    <p>Полимерзащита-ВН</p>
                    <p>173008, г. Новгород, ул. Рабочая, д.51, тел (8162)99-88-35, +7960-205-10-85</p>
                </div>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html"><span class="header-link text-description">Главная</span>
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./services.html"><span
                            class="header-link text-description">Услуги</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./goods.html"><span class="header-link text-description">Товары</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about.html"><span class="header-link text-description">О нас</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="../index.html#contacts"><span
                            class="header-link text-description">Контакты</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="d-flex flex-column first-desktop-section in-about">
        <div class="first-desktop-section-header d-flex justify-content-center">
            <p class="display-3 text-header">Ремонт фасадов</p>
        </div>
        <div class="first-desktop-section-description">
            <p class="lead text-description" style="text-indent: 30px;">
            <ul>
                <li class="lead text-header" style="font-size:xx-large;">Обследование межпанельных швов эндоскопом,
                    тепловизором</li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Ремонт межпанельных швов пенополиуретано</li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Утепление фасадов</li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Мойка фасадов</li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Очистка от пыли и грибка </li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Окраска фасадов </li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Установка водосточных труб, разжелобок и
                    снегозадержателей </li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Установка молниеотводов </li>
                <p></p>
            </ul>
            </p>
        </div>

        <div class="first-desktop-section-header d-flex justify-content-center">
            <p class="display-3 text-header">Кровельные работы</p>
        </div>
        <div class="first-desktop-section-description">
            <p class="lead text-description" style="text-indent: 30px;">
            <ul>
                <li class="lead text-header" style="font-size:xx-large;">Текущий и капитальный ремонт всех видов кровель
                </li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Технический осмотр крыши и рекомендации по её
                    эксплуатации</li>
                <p></p>
                <li class="lead text-header" style="font-size:xx-large;">Удаление наледи и сосулек</li>
                <p></p>
            </ul>
            </p>
        </div>
    </div>
</body>
<script src="../js/vendor/jquery-3.4.1.slim.min.js"></script>
<script src="../js/vendor/popper.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
<script src="../support.js"></script>

</html>